*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.contenedorGeneral{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contenedor{
    border-radius: 10px;
    background-color: rgb(0, 147, 66);
    width: 300px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}
.Boton{
    width: 80px;
    height: 30px;
    font-size: 16px;
    border: none;
    background-color: white;
    border-radius: 5px;
    cursor: pointer;
}